@model IEnumerable<ProjectAtipax.Models.Destino>

    @{
  ViewData["Title"] = "Portal";
}

    <h2>Tienda Virtual</h2>

    <link href="~/css/styleAtipax.css" rel="stylesheet" />


<p>
    <a asp-action="Resumen" class="btn btn-danger">Resumen de compra </a>
</p>

<div class="portal">
@foreach (var item in Model) {
        <div class="registro">
             <img src="@Url.Content($"~/img/{item.idDestino}.jpg")">
             <div class="row">
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.idDestino)</div>
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.pais)</div>
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.ciudad)</div>
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.categoria)</div>
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.precio)</div>
                 <div class="col-sm-12">@Html.DisplayFor(modelItem => item.idHotel)</div>

                 <div class="col-sm-12">
                    @Html.ActionLink("Seleccionar", "Seleccionar", new {id=item.idDestino }) |
                 </div>
             </div>
        </div>
}
  </div>
