@model ProjectAtipax.Models.Destino

@{

  ViewData["Title"] = "Seleccionar";
}

<h1>Seleccionar</h1>

<div class="row">
    <div class="col-sm-8">  
<div>
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idHotel)
        </dd>
    </dl>
    </div>
    <div class="col-sm-4">
         <img src="@Url.Content($"~/img/{Model.idDestino}.jpg")" />
    </div>
</div>

